body {
	background-image: url('../assets/index_background.jpg');
	min-height: 700px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#clock-container {
	display: block;
	margin: 0 auto;
	margin-top: 300px;
	width: 700px;
}

#text-container {
	margin: 0 auto;
}

#text-container span {
	font-size: 40px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#display-text-span {
	margin-left: 150px;
        color: white;
        text-shadow: 2px 2px black;
}

#github-icon {
	width: 70px;
	height: 70px;
	position: fixed;
	left: 0;
	bottom: 0;
	margin: 10px;
	background-image: url("../assets/github_icon.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}	